<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">

      <span class="icon is-large">
        <a href="https://facebook.com/{{ site.facebook_username }}">
          <i class="fa fa-2x fa-facebook" aria-hidden="true"></i>
        </a>
      </span>

      <span class="icon is-large">
        <a href="https://twitter.com/{{ site.twitter_username }}">
          <i class="fa fa-2x fa-twitter" aria-hidden="true"></i>
        </a>
      </span>

    </div>
  </div>
</footer>
